.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
body {
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}
.secContainer {
  background-color: white;

  padding: 30px;

  width: 300px;

  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
input {
  width: 100%;
  padding: 10px;

  margin-top: 5px;

  margin-bottom: 15px;

  border: 1px solid gray;

  border-radius: 5px;
}

button {
  width: 100%;

  padding: 10px;

  background-color: blue;

  color: white;

  border: none;

  border-radius: 5px;

  cursor: pointer;
}
button:hover {
  background-color: darkblue;
}
