.dashboard-container {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #667eea, #764ba2);

}


.profile-card {

  background: white;
  padding: 40px;
  border-radius: 20px;

  width: 350px;

  text-align: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);

  transition: 0.3s;

}

.profile-card:hover {

  transform: translateY(-10px);

}


.avatar img {

  border-radius: 50%;
  margin-bottom: 15px;

}


.welcome {

  margin-bottom: 20px;
  color: #333;

}


.info {

  margin-bottom: 20px;

}


.info-item {

  margin: 10px 0;

}


.info-item span {

  font-weight: bold;
  color: gray;

}


.logout-btn {

  background: #4f46e5;
  color: white;

  border: none;

  padding: 12px 20px;

  border-radius: 10px;

  cursor: pointer;

  width: 100%;

  font-size: 16px;

}


.logout-btn:hover {

  background: #4338ca;

}